@charset "UTF-8";
/* CSS Document */

/*color palette:
BROWN: #48341E RGB 72,52,30 
GOLD: #AD6E0A RGB 173,110,10 
YELLOW: #E2B30D RGB 226,179,13
PALE YELLOW: 255, 216, 102
PINK: #E799A4 RDG 231,153,164
PALE BLUE: #91d5d3 RBB 145,213,211
DARK BLUE: 0, 51, 153*/

/*Categories page*/



/* Resources */
#resourcesBody{
	margin: 0 40px;
}

th {
	font-weight: 700;
}
table {
	max-width:90%;
	margin: 0 25px;
}
/*Footer styles*/
footer {
    clear: both;
	text-align: center;
    font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

/* Mostly: http://ryanfait.com/sticky-footer/ */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -80px; 
	padding-top: 80px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 80px; 
	padding: 10%;
}

@media (min-width: 300px) and (max-width: 450px) {
	 .page-wrap {
		padding-top: 25px;
	}
}

.container .mix{
    display: none;
}

