@charset "UTF-8";
/* CSS Document */

/*color palette:
BROWN: #48341E RGB 72,52,30 
GOLD: #AD6E0A RGB 173,110,10 
YELLOW: #E2B30D RGB 226,179,13
PALE YELLOW: 255, 216, 102
PINK: #E799A4 RDG 231,153,164
PALE BLUE: #91d5d3 RBB 145,213,211
DARK BLUE: 0, 51, 153*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
/*background-image: url(../images/homeBackground.jpg) no-repeat center center fixed; //THIS ISN"T WORKING
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

nav {
	height: 80px;
	padding: 15px;
}
	div .navbar-header, div .navbar-brand{
		margin: 5px 50px;
		padding: 0px;
	}

.fullBackground {
  background: url(http://digitalmedia.neu.edu/dgm6308f15zhim/homeBackground.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}               /* this is the bg-image setup coding.  btw, if you need add other bg-image, you may need to upload it to a server, and use the "background : url(link)" function to make it*/

.heroText h1 {
	font-family: 'Fredoka One', cursive;
}
#main-content h2 {
	font-family: 'Fredoka One', cursive;
	size: 1.5em;
	color: #91d5d3;
	text-align: center;
	padding-bottom: 40px;
}
	
h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	color: rgba(146,146,146,1.00);
	font-style: normal;
	font-weight: 400;
}
p {
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-style: normal;
	font-weight: 100;
	color: rgba(146,146,146,1.00);
	line-height: 1.8;
}

a {
	color: rgba(146,146,146,1.00);
}
a:visited {
	color: rgba(145,213,211,1.00);
}
a:hover {
	color: rgba(173,110,10,1.00);
}

.heroText {
	margin: 50px auto;
	color:#AD6E0A;
	text-align: center;
}

.heroText button {
	background-color: #E799A4;
	margin: 25px auto;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	color: white;
	text-align: center;
}

/* Home Slider */
.home-slider {
	max-width: 90%;
	margin: 0 5%;
}
.home-slider img {
	border: thin solid #E799A4;
	margin: 0 8px;
	z-index:-1000px;
	border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.headingStyle {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: rgba(173,110,10,1.00);
	font-style: normal;
	font-weight: 400;
}
.mainHeading {
	color: rgba(173,110,10,1.00);
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	margin-top: 5%;
	font-size: 30px;
}
navbar-brand a:hover {
	background-color: transparent;
}

/*All pages*/

#main-content {
	padding: 50px 0px;
}
	
/*Experts page*/

#petcareCategories {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0 5%;
	max-width: 55%;
	min-width: 55%;
}
#petcareCategories .icon{
	width: 70px;
}
#petcareCategories li a{
	width: 90px;
	text-align: center;
	color: white;
}
.tab-content {
	background-color: white;
	padding: 20px 25px;
}
	.image { 
	   position: relative; 
	   display: inline;
	   float: left;
	   width: 100%; /* for IE 6 */
	}
	
	
	h3 {
		font-size: 1em;
		color: #91d5d3;
	}
#chat {
	display: inline-block;
	float: right;
	max-width: 10%;
	min-width: 350px;
	height: auto;
	max-height: 700px;
	margin: 5% 2%;
	padding: 2%;
	background-color: white;
	border: 5px solid #91d5d3;
	color: #91d5d3;
}
.chat-form {
	background-color: #91d5d3;
  	padding: 10px 15px;
  	margin-top: 8px;
  	margin-right: -15px;
 	margin-bottom: 8px;
  	margin-left: -15px;
 	border-top: 1px solid transparent;
 	border-bottom: 1px solid transparent;
  	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
#viewmore {
	font-size: 1.25em;
}

/*Categories page*/

#Container {
	margin: 5% 5%;
}
#typeAnimal{
	text-align: center;
	margin-bottom:5%;
}
#typeAnimal ul li{
	display: inline;
	float: left;
	list-style-type: none;
	padding: 15px;
}
.filter {
	background-color: transparent;
	color:  #E799A4;
	border: none;
}

img .active {
	border: #E799A4}
	}

/* Resources */
#resourcesBody{
	margin: 0 40px;
}

th {
	font-weight: 700;
}
table {
	max-width:90%;
	margin: 0 25px;
}
/*Footer styles*/
footer {
    clear: both;
	text-align: center;
    font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

/* Mostly: http://ryanfait.com/sticky-footer/ */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -80px; 
	padding-top: 80px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 80px; 
	padding: 10%;
}

@media (min-width: 300px) and (max-width: 450px) {
	 .page-wrap {
		padding-top: 25px;
	}
}


